In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

WARNING:tensorflow:From C:\Users\sures\AppData\Local\Programs\Python\Python310\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [ ]:
### Load the trained model, scaler pickle,onehot
model=load_model('../saved_models/model.h5')

## load the encoder and scaler
with open('../saved_models/onehot_encoder_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('../saved_models/label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

with open('../saved_models/scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:tensorflow:From C:\Users\sures\AppData\Local\Programs\Python\Python310\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [16]:
# Example input data
input_data = {
    'CreditScore': 100,
    'Geography': 'Germany',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [17]:
# One-hot encode 'Geography'
geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

C:\Users\sures\AppData\Local\Programs\Python\Python310\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                1.0              0.0

In [18]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,100,Germany,Male,40,3,60000,2,1,1,50000

In [19]:
## Encode categorical variables
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,100,Germany,1,40,3,60000,2,1,1,50000

In [20]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,100,1,40,3,60000,2,1,1,50000,0.0,1.0,0.0

In [21]:
## Scaling the input data
input_scaled=scaler.transform(input_df)
input_scaled

array([[-5.72485068,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221, -0.99850112,
         1.72572313, -0.57638802]])

In [22]:
## PRedict churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 26ms/step

array([[0.02979378]], dtype=float32)

In [23]:
prediction_proba = prediction[0][0]

In [24]:
prediction_proba

0.029793777

In [25]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.

In [26]:
import tensorflow as tf

In [32]:
for i in dir(tf):
    if i.startswith('_'):
        print(i)

_API_MODULE
_KerasLazyLoader
_LazyLoader
__all__
__builtins__
__cached__
__compiler_version__
__cxx11_abi_flag__
__cxx_version__
__doc__
__file__
__git_version__
__internal__
__loader__
__monolithic_build__
__name__
__operators__
__package__
__path__
__spec__
__version__
_api
_compat
_current_file_location
_current_module
_distutils
_estimator_module
_fi
_initializers
_inspect
_kernel_dir
_ll
_logging
_losses
_major_api_version
_metrics
_module_dir
_module_util
_names_with_underscore
_optimizers
_os
_plugin_dir
_running_from_pip_package
_s
_site
_site_packages_dirs
_sys
_tf2
_tf_api_dir
_tf_dir
_tf_uses_legacy_keras
_typing

In [33]:
tf.__version__

'2.15.0'